@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.appContainer {
  /* background-image: url("https://previews.123rf.com/images/andreykuzmin/andreykuzmin1701/andreykuzmin170100033/70306305-old-nautical-treasure-map-background.jpg"); */
}

.header {
  text-align: center;
  padding: 10px;
  font-size: 2.4rem;
  text-transform: uppercase;
}

input {
  box-shadow: none !important;
  border: none !important;
}

button {
  border: none !important;
  justify-self: flex-end;
  margin: 0 !important;
}

.formContainer {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0 !important;
}

.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
